@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic);
html, body {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #FFF;
	margin: 0px;
	padding: 0px;
	min-width: 940px;
}
a, a:visited {
	color: #154995;
	outline:none;
	border:none;
}

a.not-bold {
	font-weight: normal;
}

img {
	outline: none;
	border: none;
}

.button, a.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	color: #FFF !important;
	text-decoration: none;
	display: inline-block;
	padding-top: 4px;
	padding-right: 15px;
	padding-bottom: 4px;
	padding-left: 15px;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background-repeat: repeat-x;
	background-position: center bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}

button.button {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	color: #FFF !important;
	text-decoration: none;
	display: inline-block;
	padding-top: 4px;
	padding-right: 15px;
	padding-bottom: 4px;
	padding-left: 15px;
	margin: 0px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor: pointer;
	background-repeat: repeat-x;
	background-position: center bottom;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-radius:3px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-o-border-radius:3px;
}

.button.orange {
	background-color: #ee6d00;
	background-image: url(../assets/orange-gradient.png);
	border-top-color: #ee6d00;
	border-right-color: #ee6d00;
	border-bottom-color: #ee6d00;
	border-left-color: #ee6d00;
}
.button.orange[class!='disabled']:hover {
									 background-color: #EE6D00;
									 background-image: none;
								 }

.button.gray , .button.disabled{
	background-color: #999999;
	background-image: url(../assets/gray-gradient.png);
	border-top-color: #bab4ab;
	border-right-color: #bab4ab;
	border-bottom-color: #bab4ab;
	border-left-color: #bab4ab;
	color: #FFFFFF;
}
.button.blue {
	background-color: #154995;
	border-top-color: #154995;
	border-right-color: #154995;
	border-bottom-color: #154995;
	border-left-color: #154995;
}
.button.large {
	padding-top: 13px;
	padding-right: 25px;
	padding-bottom: 13px;
	padding-left: 25px;
	font-size: 18px;
}
.button.arrow-right:after {
	content: "►";
	float: right;
	padding-left: 5px;
}
.button.arrow-left:before {
	content: "◄";
	padding-right: 5px;
}
.close-x:after {
	content: "X";
	font-size: 16px;
	line-height: 18px;
	color: #FFF;
	display: block;
	position: absolute;
	top: 10px;
	right: 30px;
	font-weight: normal;
	font-family: Arial, Helvetica, sans-serif;
}
select:disabled {
	background-color:#E4E4E4; border:1px inset #F0F0F0;
}
.hiddenField {
	display: none !important;
}
h1 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #154995;
	padding: 0px;
	display: block;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;
	height: 18px;
}


.h1-match {
	font-size: 18px;
	line-height: 18px;
	color: #154995;
}

h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #154995;
	display: block;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
h3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #154995;
	display: block;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;

}
h4 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 24px;
	line-height: 24px;
	font-weight: bold;
	color: #154995;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.blue-12 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: bold;
	color: #154995;
}
.blue-13 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: bold;
	color: #154995;
}
.blue-17 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	color: #154995;
}
.blue {
	color: #154995 !important;
}
.orange {
	color: #ee6d00 !important;
}

.indent {
	margin-left:15px !important;
	margin-right:15px !Important;
}
.notice-box {
	background-color: #FFF;
	padding: 15px;
	border-left-width: 8px;
	border-left-style: solid;
	border-left-color: #003da6;
	display: block;
}
.body {
	color:#555555;
	font-size:15px;
	line-height: normal;
}
.body.large {
	font-size: 18px;
}
.body.small {
	font-size: 13px;
	line-height: 18px;
}
.body.smaller {
	font-size: 12px;
	line-height: 16px;
}
.line-height-15 {
	line-height: 15px !important;
}
label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: #333333;
	display: block;
	line-height: 15px;
	margin-bottom: 5px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type="text"], select {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #333;
	margin-bottom: 10px;
}
input[type="text"], textarea, select {
	border: 1px solid #C8C8C8;
	padding: 4px;
}

input[type="text"]:active, input[type="text"]:focus, textarea:active, textarea:focus {
	padding: 3px;
	border-width:2px;
}
input[type="radio"] {

	margin-right:10px;

}
input:disabled {
	background-color:#cccccc;
}
textarea {
	width:100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 3px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 13px;
	color: #333;
	margin-bottom: 10px;
	height:125px;
	resize:none;
}

.placeholder {
	color: #999;
}

.text-center {
	text-align: center;
}
.italic {
	font-style: italic;
}
.bold {
	font-weight: bold !important;
}
.display-none {
	display: none !important;
}
.inline-block {
	display:inline-block;
	vertical-align: middle;
}
.tb-15-margin {
	margin-top: 15px !important;
	margin-bottom: 15px !important;
	display: block;
}
.remove-margin-b {
	margin-bottom: 0px !important;
}
.error {
	background-color: #f4bbbb !important;
	border-color: #a50000 !important;
}
.radio-error.error {
	background-color: #f4bbbb !important;
	border: none !important;
	color: #a50000 !important;

}
/*.radio-error.error label, .radio-error.error .title {
	color: #a50000 !important;
}*/

.errors {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #ff0000;
	margin-bottom: 25px;
	display: none;
}
.errors .error-header {
	font-size: 18px;
	font-weight: bold;
}
.errors .error-list {
	list-style-position: inside;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 15px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #a50000;
	border-right-color: #a50000;
	border-bottom-color: #a50000;
	border-left-color: #a50000;
	background-color: #FFF;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 50px;
	text-align: left;
}
.errors .error-list > li {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
	font-weight: bold;
	color: #000000;
	margin-bottom: 5px;
	list-style-type: none;
	list-style-position: outside;
}
.errors .error-list > li:first-child {
	list-style-image: url(../assets/error-triangle.png);
}
.errors .error-list > li:last-child {
	margin-bottom: 0px;
}
.tooltip-parent {
	position:relative;
	right: 0px;
	display: inline-block;
}
.tooltip {
	position: absolute;
	background-color:#ffffcc;
	font-size: 12px;
	line-height: 15px;
	color: #333;
	top: 50%;
	text-align: left;
	padding: 15px;
	width: 150px;
	display: none;
	z-index: 1000;
	left: 100%;
	margin-left: 20px;
	transform: translateY(-50%);
	-ms-transform: translateY(-50%);
}
.tooltip.float-left {
	margin-left: -20px;
}
.tooltip:after { right: 100%; top: 50%; border: solid transparent; content: " "; height: 0; width: 0; position: absolute; pointer-events: none; border-color: rgba(255, 255, 204, 0); border-right-color: #ffffcc; border-width: 15px; margin-top: -15px; }
.tooltip.float-left:after {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 204, 0);
	border-left-color: #ffffcc;
	border-width: 15px;
	margin-top: -15px;
}
.tooltip-parent:hover .tooltip {
	display: block;
}
.tooltip:hover, .tooltip-parent:hover .tooltip:hover {
	display: none;
}
.hardcoded-editable-wrapper .edit-icon {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	cursor: pointer;
	text-transform: uppercase;
}
/*.hardcoded-editable-wrapper .editable {*/
/*display: none;*/
/*}*/
/*.hardcoded-editable-wrapper .editable .update {*/
/*display: none;*/
/*}*/

.hardcoded-editable-wrapper.editing .editable .update {
	display: inline-block;
}
.hardcoded-editable-wrapper .editable .update {
	margin-left: 10px;

}

.hardcoded-editable-wrapper .editable .update-select {
	display: none;
}

.hardcoded-editable-wrapper.editing .editable .update-select {
	display: inline-block;
}
.hardcoded-editable-wrapper .editable .update-select {
	margin-left: 10px;
	font-size: 12px;
	padding-top: 2px;
	padding-bottom: 2px;
	padding-left: 10px;
	padding-right: 10px;

}

.hardcoded-editable-wrapper .hardcoded .text {
	font-size: 16px;
	line-height: 16px;
	font-weight: bold;
	color: #174893;
	font-family: "Lato", sans-serif;
	padding: 0 5px;
}

.hardcoded-editable-wrapper span {
	display: inline-block;
}

table.table
{
	border-top-width: 0;
	border-right-width: 0;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #c1c1c1;
	border-right-color: #c1c1c1;
	border-bottom-color: #c1c1c1;
	border-left-color: #c1c1c1;
	text-align: left;

}
table.table td , .table th{
	margin: 0;
	padding: 7px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 0;
	border-left-width: 0;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #c1c1c1;
	border-right-color: #c1c1c1;
	border-bottom-color: #c1c1c1;
	border-left-color: #c1c1c1;
	width:16%;
	vertical-align: text-top;
}

table.table  th[scope='row'] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 13px;
	line-height: 13px;
	font-weight: normal;
	color: #333;
	background-color: #e7e7e8;
}
table.table  th[scope='col'] {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 14px;
	font-weight: bold;
	color: #FFF;
	background-color: #004b98;
	padding: 7px;
}

table.table td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	font-weight: normal;
	color: #333;
}
.two-col {
	width:603px;
	font-size: 0px;
	line-height: 0px;
	white-space: nowrap;
}
.two-col > .left {
	display:inline-block;
	vertical-align: top;
	width:261px;
	font-size: 16px;
	line-height: normal;
	white-space: normal;
	margin-right: 25px;
	padding-right: 25px;
}
.two-col > .right {
	display:inline-block;
	vertical-align: top;
	width:261px;
	font-size: 16px;
	line-height: normal;
	white-space: normal;
}
.multi-col {
	font-size: 0px;
	line-height: 0px;
	white-space: nowrap;
}
.multi-col > .one-third {
	font-size: 16px;
	line-height: normal;
	vertical-align: text-top;
	white-space: normal;
	display: inline-block;
	width: 33%;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bab4ab;
	padding-right: 5px;
	padding-left: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.multi-col > .one-third:first-child {
	padding-left: 0px;
}
.multi-col > .one-third:last-child {
	border-right-width: 0px;
	border-right-style: none;
	padding-right: 0px;
}
.sub-col-wrapper {
	white-space:no-wrap;
	font-size:0px;
	line-height:0px;
}
.sub-col-wrapper div:last-child {

	margin-right:0px;
}
.sub-col-wrapper .col-25-percent {
	vertical-align: text-top;
	display: inline-block;
	width: 20%;
	white-space:normal;
	margin-right: 5%;
}
.sub-col-wrapper .col-50-percent {
	vertical-align: text-top;
	display: inline-block;
	width: 50%;
	white-space:normal;
}
.sub-col-wrapper .col-75-percent {
	vertical-align: text-top;
	display: inline-block;
	width: 75%;
	white-space:normal;
}
.center {
	width: 940px;
	margin-right: auto;
	margin-left: auto;

}
.blue-bar {
	background-color: #154995;
	padding-top: 10px;
	padding-bottom: 10px;
	overflow: hidden;
}
.blue-bar .right {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #FFF;
	float: right;
}
.container {
}
.date-selector {
	cursor: pointer;
}
.container > .header{
	font-size: 0px;
	line-height: 0px;
	white-space: nowrap;
	padding-top: 15px;
	padding-bottom: 15px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bbbbbb;
	margin-bottom: 15px;
	display: block;
}
.container >  .header .left{
	vertical-align: middle;
	white-space: normal;
	display: inline-block;
	width: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container >  .header .right{
	vertical-align: middle;
	white-space: normal;
	display: inline-block;
	width: 50%;
	text-align: right;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.container > .header  .right img{
	vertical-align: middle;
}
.container > .header   .right .label{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 15px;
	color: #555555;
	vertical-align: middle;
	display: inline-block;
}
.navigation {
	font-size: 0px;
	line-height: 0px;
	white-space: nowrap;
	margin-bottom: 15px;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
}
.navigation > a {
	font-size: 0px;
	line-height: 0px;
	display: inline-block;
	margin-left: -5px;
	background-repeat: no-repeat;
	background-position: top;
	vertical-align: text-top;
	padding: 0px;
	height: 51px;
	width: 192px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	list-style-type: none;
	cursor: default;
}
.navigation > a.current {
	background-position: bottom;
	cursor: pointer;
}
.navigation > a.hover {
	cursor: pointer;
}
.navigation > a:first-child {
	margin-left: 0px;
}
.navigation > a.section-1 {
	background-image: url(../assets/section-1.png);
}
.navigation > a.section-2 {
	background-image: url(../assets/section-2.png);
}
.navigation > a.section-3 {
	background-image: url(../assets/section-3.png);
}
.navigation > a.section-4 {
	background-image: url(../assets/section-4.png);
}
.navigation > a.section-5 {
	background-image: url(../assets/section-5.png);
}
.entered-address {
	font-weight: bold;
	margin-top: 15px;
	margin-bottom: 15px;
}
.matched-addresses {
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
.matched-addresses > li {
	margin: 0px;
	padding: 0px;
	list-style-type: none;
	font-weight: bold;
}
.content {
	font-size: 0px;
	line-height: 0px;
	white-space: nowrap;
	display: table;
	border-collapse:separate;
	border-spacing:15px 0px;
	margin-right: -15px;
	margin-left: -15px;
}
.content > .left {
	background-color: #e2edf3;
	vertical-align: top;
	white-space: nowrap;
	display: table-cell;
	padding: 25px;
	width: 645px;
	min-width:645px;
	max-width:645px;
	font-size: 0px;
	line-height: 0px;
	height: 100%;
}
.content > .left .back-arrow-wrapper {
	width:39px;
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
	vertical-align: text-top;
	white-space: normal;
	margin-right: 7px;
	margin-left: -10px;
}
.content > .left .back-arrow-wrapper .back-arrow {
	background-image: url(../assets/back-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 38px;
	width: 40px;
	margin-top: 200px;
	display: block;
	cursor: pointer;
}

.content > .left .back-arrow-wrapper .loader {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	border-left: 5px solid rgba(255, 255, 255, 0.85);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	height: 38px;
	width: 38px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	box-sizing: border-box;
	margin-top:200px;
	background-color: #9e9e9e;
	display: none;
}
.content > .left .back-arrow-wrapper .loader, .content > .left .back-arrow-wrapper .loader:after {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 38px;
	height: 38px;
}

.content > .left .content-wrapper {
	font-size: 16px;
	line-height: normal;
	vertical-align: text-top;
	white-space: normal;
	display: inline-block;
	width: 571px;
	max-width:573px;
}
.content > .left .forward-arrow-wrapper {
	width:39px;
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
	vertical-align: text-top;
	white-space: normal;
	margin-right: -10px;
	margin-left: 7px;
}
.content > .left .forward-arrow-wrapper .forward-arrow{
	background-image: url(../assets/next-arrow.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 38px;
	width: 40px;
	margin-top:200px;
	display: block;
	cursor: pointer;
}

.content > .left .forward-arrow-wrapper .loader {
	font-size: 10px;
	position: relative;
	text-indent: -9999em;
	border-top: 5px solid rgba(255, 255, 255, 0);
	border-right: 5px solid rgba(255, 255, 255, 0);
	border-bottom: 5px solid rgba(255, 255, 255, 0);
	border-left: 5px solid rgba(255, 255, 255, 0.85);
	-webkit-animation: load8 1.1s infinite linear;
	animation: load8 1.1s infinite linear;
	height: 38px;
	width: 38px;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
	box-sizing: border-box;
	margin-top:200px;
	background-color: #ee6d00;
	display: none;
}
.content > .left .forward-arrow-wrapper .loader, .content > .left .forward-arrow-wrapper .loader:after {
	border-radius: 50%;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	width: 38px;
	height: 38px;
}
@-webkit-keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes load8 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}


.content > .right {
	background-color: #e2edf3;
	vertical-align: top;
	white-space: normal;
	display: table-cell;
	padding: 25px;
	text-align: center;
	font-family: "Lato", sans-serif;
	font-weight: bold;
	width: 220px;
	max-width:220px;
}
.content > .right .top-logo {
	margin-right: -25px;
	margin-left: -25px;
	margin-top: -10px;
}
.content > .right .geico-welcome {
	font-size: 16px;
	line-height: 20px;
	color: #333333;
	margin-top: 25px;
	margin-bottom: 25px;
	font-family: "Lato", sans-serif;
	font-weight: bold;
}
.content > .right .icon-boxes {
	margin: 0px;
	padding: 0px;
}
.content > .right .icon-boxes > li {
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
	list-style-type: none;
	font-size: 14px;
	line-height: 16px;
	color: #333;
	text-align: center;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 25px;
	padding-left: 0px;
}
.content > .right .icon-boxes > li img {
	display: block;
	margin-bottom: 10px;
	margin-right: auto;
	margin-left: auto;
}
.content > .right .line-break {
	border-top-width: 1px;
	border-top-style: solid;
	width: 125px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 15px;
	margin-left: auto;
	border-top-color: #174893;
}
.content > .right .cancel-quote {
	font-size: 11px;
	line-height: 11px;
	color: #666;
}
.content > .right .geico-header {
	font-size: 19px;
	line-height: 19px;
	color: #333333;
	font-family: "Lato", sans-serif;
}
.content > .right .quote-summary {
	text-align: left;
}
.content > .right .quote-summary .section {
	margin-bottom: 15px;
}
.content > .right .quote-summary .section .edit {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 9px;
	line-height: 9px;
	font-weight: bold;
	color: #999;
	float: right;
	text-transform: uppercase;
	text-decoration: none;
	cursor: pointer;
}
.content > .right .quote-summary .section h3{
	margin-bottom: 5px;
}
.content > .right .geico-phone-number {
	font-size: 19px;
	line-height: 19px;
	font-weight: bold;
	color: #174893;
	margin-top: 15px;
	margin-bottom: 15px;
	font-family: "Lato", sans-serif;
}
.content > .right .quote-summary .body{
	margin-right: 0px !Important;
	margin-left: 0px !Important;
}

.content > .right .quote-summary .body{
	font-family: "Lato", sans-serif !important;
	font-weight: bold;
	margin-right: -5px;
	margin-left: -5px;
}

.content-wrapper .gray-box-wrapper {
	background-color: #e5e5e5;
	padding: 10px;
	border: 1px solid #bababa;
}
.content-wrapper .gray-box-wrapper label[class!='normal'] {
	font-size: 13px;
	line-height: 13px;
}
.content-wrapper .selection-wrapper {
	margin: 0px;
	padding: 0px;
}
.content-wrapper .selection-wrapper li {
	margin-bottom: 15px;
	margin-top: 0px;
	margin-right: 0px;
	margin-left: 0px;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #FFF;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 15px;
	padding-left: 0px;
}
.content-wrapper .selection-wrapper li:last-child {
	margin-bottom: 0px;
	border-bottom-width: 0px;
	border-bottom-style: none;
	padding-bottom: 0px;
}
.content-wrapper .selection-wrapper li .selection {
	display: none;
}
.content-wrapper .selection-wrapper li.select .selection {
	display: inline-block;
}
.content-wrapper .selection-wrapper li.select .selection-value{
	display: none;
}
.content-wrapper .selection-wrapper li.selected .edit-icon {
	display: block;
}
/*.content-wrapper .selection-wrapper li .selection-value-wrapper {*/
/*display: none;*/
/*}*/
.content-wrapper .selection-wrapper li.selected .selection-value-wrapper {
	display: block;
}
.content-wrapper .selection-wrapper li .selection-value-wrapper img {
	vertical-align: middle;
	display: inline-block;
	font-size: 0px;
	line-height: 0px;
}
.content-wrapper .selection-wrapper li .selection-value-wrapper .selection-value{
	font-weight: bold;
	font-size: 15px;
	line-height: 15px;
	color: #154995;
	display: inline-block;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
}
.content-wrapper .selection-wrapper li .title  {
	font-size: 15px;
	color: #555555;
	line-height: 15px;
	margin-bottom: 10px;
}
.content-wrapper .selection-wrapper li .edit-icon   {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10px;
	line-height: 14px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
	cursor: pointer;
	/*display: none;*/
	text-transform: uppercase;
}
.content-wrapper .selection-wrapper li .edit-icon > img   {
	line-height: 14px;
	vertical-align: middle;
	display: inline-block;
}
.content-wrapper .legal-information {
	background-color: #cddce9;
	padding: 15px;
}
.home-features {
	padding: 0px;
	font-size: 0px;
	line-height: 0px;
	margin-top: 25px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.home-features > li {
	display: inline-block;
	list-style-type: none;
	vertical-align: text-top;
	width: 25%;
	text-align: center;
}
.home-features > li img {
	width: 121px;
}
.home-features > li .features-dropdown-wrapper{
	margin-top: 5px;
	margin-bottom: 5px;
	width: 121px;
	text-align: left;
	margin-right: auto;
	margin-left: auto;
}
.home-features > li .features-dropdown-wrapper label {
	font-size: 13px;
	line-height: 13px;
}

.quote-wrapper {
	margin-right: 15px;
	margin-left: 15px;
	position: relative;
	white-space: normal;
	padding: 0px;
}
.quote-wrapper .quote-actions {
	margin-left: 25px;
}
.quote-wrapper .quote-actions a {
	font-size: 13px;
	font-weight: normal;
	color: #555 !important;
	margin-left: 5px;
	vertical-align: middle;
	display: inline-block;
}
.quote-wrapper .header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #154995;
	background-color: #cddce9;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;
	margin-bottom: 25px;
	margin-top: 25px;
}
.quote-wrapper .quote-corner-ribbon {
	position: absolute;
	top: 0px;
	right: 0px;
	margin-top: -25px;
	margin-right: -40px;
}
.quote-wrapper .contact-geico-wrapper {
	background-image: url(../assets/geico-banner.png);
	background-repeat: no-repeat;
	background-position: center center;
	height: 160px;
	width: 365px;
	padding-top: 25px;
	padding-right: 25px;
	padding-bottom: 25px;
	padding-left: 225px;
	margin-bottom: 25px;
}
.quote-wrapper .contact-geico-wrapper .body.oversized {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: bold;
	color: #555;
}

.quote-wrapper .coverage-options-wrapper {
	padding: 0px;
	border: 1px solid #bab4ab;
	background-color: #FFF;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 25px;
	margin-left: 0px;

}
.quote-wrapper .coverage-options-wrapper [class^='col'] {
	vertical-align: middle;
	display: table-cell;
}
.quote-wrapper .coverage-options-wrapper .col1 {
	width: 20px;
	text-align: center;
	margin: 0px;
	padding: 10px;
	height: 41px;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #bab4ab;
}
.quote-wrapper .coverage-options-wrapper .col2 {
	width: 266px;
	border-right-width: 1px;
	border-right-style: solid;
	border-top-color: #bab4ab;
	border-right-color: #bab4ab;
	border-bottom-color: #bab4ab;
	border-left-color: #bab4ab;
	padding: 10px;
}
.quote-wrapper .coverage-options-wrapper .col3 {
	padding: 10px;
	width: 266px;
}

.quote-wrapper .coverage-options-wrapper .head-wrapper {
	background-color: #bab4ab;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	font-weight: bold;
	color: #154995;

	display: table;
	table-layout: fixed;
	width: 613px;
	max-width: 613px;
	border-spacing: 0px;
	border-collapse: separate;
}
.quote-wrapper .coverage-options-wrapper .head-wrapper [class^='col'] {
	padding-top: 5px;
	padding-bottom: 5px;
	height: auto;
}


.quote-wrapper .coverage-options-wrapper > li {
	padding: 0px;
	list-style-type: none;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #bab4ab;
	display: table;
	table-layout: fixed;
	width: 613px;
	max-width: 613px;
	border-spacing: 0px;
	border-collapse: separate;
	color: #154995;
}
.quote-wrapper .coverage-options-wrapper > li .col1 {
}
.quote-wrapper .coverage-options-wrapper > li.selected *{
	color: #FFF;
	background-color: #ee6d00 ;
}
.quote-wrapper .coverage-options-wrapper > li input[type='radio'] {
	margin: 0px;
	padding: 0px;
	cursor: pointer;
}
.quote-wrapper .coverage-options-wrapper > li:last-child {
	border-bottom-width: 0px;
	border-bottom-style: none;
}
.quote-wrapper .coverage-options-wrapper > li .title {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 23px;
	line-height: 23px;
	font-weight: bold;
}
.quote-wrapper .coverage-options-wrapper > li .smaller-text {
	line-height: 23px;
	margin-bottom: 0px;
	font-size: 15px;
}

.quote-wrapper .coverage-options-wrapper > li .amount {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 28px;
	line-height: 41px;
	font-weight: bold;
}

.quote-wrapper .coverage-options-wrapper > li .payment-plans {
	float:right;
	line-height:41px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	display: none;
}
.quote-wrapper .coverage-options-wrapper > li.selected .payment-plans {
	display: block;
}
.quote-wrapper .coverage-options-wrapper > li .amount .loading-icon {
	font-size: 0px;
	line-height: 0px;
	height: 33px;
	margin-top: -5px;
	margin-bottom: -5px;
	width: 33px;
}
.quote-wrapper .coverage-options-wrapper > li .amount .choose-options {
	line-height: 41px;
	display: inline-block;
}
.quote-wrapper .quote-details {
	font-family: Arial, Helvetica, sans-serif;
	color: #555;
	display: block;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 0px;
	margin: 0px;
}
.quote-wrapper .quote-details > li {
	margin-bottom: 25px;
	display: block;
}
.quote-wrapper .quote-details > li .left{
	font-size: 15px;
	line-height: 15px;
	vertical-align: middle;
}
.quote-wrapper .quote-details > li .right{
	font-size: 13px;
	line-height: 15px;
	vertical-align: middle;
}
.quote-wrapper .quote-details > li .right input[type='text'], .quote-wrapper .quote-details > li .right select, .quote-wrapper .quote-details .sub-col-wrapper {
	width: 150px;
	margin-bottom: 0px;
}
.quote-wrapper .quote-details .ReplacementCostBuilding {
	font-size: 11px;
	font-style: italic;
}
.quote-wrapper .notice-box {
	margin-top: 25px;
}
.quote-wrapper a.update-quote {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: bold;
	color: #FFF !important;
	padding-top: 10px;
	padding-bottom: 10px;
	position: fixed;
	z-index: 999;
	bottom: 150px;
	display: inline-block;
	margin-left: 630px;
}
.overlay-wrapper {
	background-color: rgba(149, 149, 149, 0.6);
	position: fixed;
	z-index: 1000;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
	display: block;
}
.overlay-wrapper .overlay-container {
	font-size: 16px;
	line-height: 16px;
	background-color: #FFF;
	width: 450px;
	border: 2px solid #154995;
	padding-top: 15px;
	padding-right: 40px;
	padding-bottom: 15px;
	padding-left: 40px;
	white-space: normal;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	max-height: 80vh;
	overflow-y: auto;
}
.overlay-wrapper .overlay-container .close-x {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}

.overlay-wrapper .overlay-container.square  {
	height: 150px;
	width: 230px;
	text-align: center;
}
.overlay-wrapper .overlay-container .loading-icon{
	margin-top: 25px;
}
.overlay-wrapper .overlay-container.wide {
	width: 700px;
	padding-top: 25px;
	padding-bottom: 25px;
	text-align: center;
	/*margin-top: 10%;*/
}
.overlay-wrapper .overlay-container.wide-med {
	width: 530px;
	text-align: center;
}
.overlay-wrapper .overlay-container.wider {
	width: 983px;
	max-width: 90%;
	margin-top: 5%;
	padding-top: 25px;
	padding-bottom: 25px;
}
.overlay-wrapper .overlay-container.wider img {
	max-width: 100%;
	height: auto;
}

.overlay-wrapper .overlay-container.wide h2    {
	margin-bottom: 5px;
}
.overlay-wrapper .overlay-container.wider h2 {
	text-align: center;
	margin-bottom: 25px;
}
.overlay-wrapper .overlay-container.wider .sub-header {
	text-align: center;
	margin-bottom: 15px;
}
.overlay-wrapper .overlay-container .sub-header {
	font-size: 14px;
	line-height: 14px;
	color: #154995;
}
.overlay-wrapper .overlay-container .header{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	line-height: 17px;
	text-transform: uppercase;
	color: #FFF;
	background-color: #154995;
	margin-right: -25px;
	margin-left: -25px;
	padding-top: 5px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-left: 25px;
	margin-bottom: 25px;
	text-align: left;
	font-weight: normal;
}
.overlay-wrapper .overlay-container .body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	line-height: 18px;
	color: #555555;
	text-align: left;
	font-weight: normal;
}
.overlay-wrapper .overlay-container .button-wrapper {
	overflow:hidden;
	margin-top: 25px;
}
.overlay-wrapper .overlay-container .selection-list {
	font-size: 0px;
	line-height: 0px;
	text-align: left;
	padding: 0px;
	margin-top: 25px;
	margin-right: -10px;
	margin-bottom: 0px;
	margin-left: -10px;
}
/*.overlay-wrapper .overlay-container .selection-list > li {
	font-size: 0px;
	line-height: 0px;
	vertical-align: middle;
	display: inline-block;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}*/

.overlay-wrapper .overlay-container .selection-list > li {
	font-size: 0px;
	line-height: 0px;
	vertical-align: text-top;
	display: inline-block;
	list-style-type: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
	cursor: pointer;
	margin-bottom: 10px;
	padding: 10px;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	width: 160px;
}
.overlay-wrapper .overlay-container .selection-list.v-align-bot > li {
	vertical-align: bottom !Important;
}
.overlay-wrapper .overlay-container .selection-list > li img {
	max-width: 100%;
}
.overlay-wrapper .overlay-container .selection-list > li .label {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #555;
	text-transform: uppercase;
	font-weight: bold;
	margin-top: 10px;
	max-width: 150px;
}


.overlay-wrapper .overlay-container .selection-list > li.disabled {
	opacity: 0.4;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
	filter: alpha(opacity=40);
	cursor: default;
}


.overlay-wrapper .overlay-container .selection-list > li.disabled:hover {
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
	padding:10px;
}

.overlay-wrapper .overlay-container .selection-list > li.selected, .overlay-wrapper .overlay-container .selection-list > li:hover {
	border: 3px solid #154995;
	padding: 7px;
}

.overlay-wrapper .overlay-container .selection-list > li.disabled:hover .tooltip {

	display:none;

}
.overlay-wrapper .overlay-container .selection-list > li .checkmark {

	background-image: url(../assets/checkmark.png);
	background-repeat: no-repeat;
	background-position: center center;
	display: none;
	position: absolute;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.overlay-wrapper .overlay-container .selection-list > li.selected .checkmark {

	display:block;
}
.overlay-wrapper .overlay-container .selection-list.roof-type {
}
.overlay-wrapper .overlay-container .selection-list.roof-type > li {
	/*width: 134px;*/
	margin-bottom: 5px;
	margin-right: 5px;
	margin-left: 5px;
}
.overlay-wrapper .overlay-container .selection-list.roof-type > li  img {
}
.footer {
	margin-top: 15px;
	padding-top: 15px;
	padding-bottom: 15px;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #bbbbbb;
	font-size: 0px;
	line-height: 0px;
}
.footer .left {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	line-height: 12px;
	color: #666666;
	vertical-align: text-top;
	display: inline-block;
	width: 710px;
}
.footer .right {
	text-align: right;
	vertical-align: text-top;
	display: inline-block;
	width: 230px;
}

.no-coverage {
	color: red;
	font-size: 0.8em;
	line-height: 1.2em;
	display: none;
}
.no-coverage.show {
	display: block;
	margin-bottom: 10px;
}
.no-coverage a {
	color: inherit;
}

/*
.address-part {
	background-color: #d7e6ef;
	height: 0;
	overflow: hidden;
}
.address-part h6 {
	margin: 2px 0 4px;
	font-size: 0.8em;
}
*/
p.hcolor{
	color: #154995;
	margin-top: -20px;
	font-size: 15px;
}

.organge-button, a.orange-button {
	background-color: #ee6d00;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 18px;
	font-weight: normal;
	color: #FFF;
	text-decoration: none;
	width: 120px;
	display: inline-block;
	padding-top: 7px;
	padding-right: 15px;
	padding-bottom: 7px;
	padding-left: 15px;
	margin: 0px;
	cursor: pointer;
}
.wrapper {
	background-color: rgba(149, 149, 149, 0.6);
	position: fixed;
	left: 0px;
	top: 0px;
	right: 0px;
	bottom: 0px;
}
.wrapper .container {
	background-color: #FFF;
	width: 690px;
	border: 4px solid #154995;
	position: absolute;
	left: 50%;
	top: 50%;
	height: 273px;
	margin-top: -137px;
	margin-left: -351px;
}
.wrapper .container .inner-wrapper {
	margin: 5px;
	padding: 25px;
	border: 1px solid #67686b;
	text-align: center;
	position: relative;
}
.wrapper .container .inner-wrapper .close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
}
.wrapper .container .inner-wrapper .header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 26px;
	line-height: 26px;
	font-weight: bold;
	color: #154995;
	text-transform: uppercase;
}
.wrapper .container .inner-wrapper .body {
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #bcc3c7;
	border-bottom-color: #bcc3c7;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 22px;
	color: #67686b;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	white-space: normal;
}